# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.valheim-show-me.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\src\valheim-show-me\.idea\.idea.valheim-show-me\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
